<div class="row sign-up-form">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title"><%= @course.short_name %>: <%= @course.name %></span>
                <p><%= @course.description %></p>
            </div>
            <div class="card-action">
                <% if !(logged_in?) %>
                    <span class="white-text"><%= @course.likes.count %> Likes</span>
                    <%= link_to 'Login or Signup For Seeing The Lectures', login_path, class: "right"%>
                <% end %>
                <% if logged_in? %>
                    <% if (current_user.courses.include?(@course)) %>
                        <% if @course.video.present? %>
                            <%= link_to "See Video", video_path(@course.video) %>
                        <% end %>
                    <% else %>
                        <%= link_to "Enroll To See Lecture", course_enroll_path(course_id: @course.id), method: :post %>
                    <% end %>
                <% end %>

                <div class="card-body">
                    <div class="card-title">
                        <h4 class="white-text">Reviews</h4>
                        <% if logged_in? %>
                            <%= render 'reviews/form'%>
                        <% end %>
                        <div class="row">
                            <% @course.reviews.each do |review| %>
                                <%= render partial: 'reviews/review', locals: { review: review } %>
                            <% end %>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
